#Content
{
	overflow-y:auto;
	max-height: 417px;
}

#VendorBlock {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
	justify-content: flex-start;
	width: 100%;
}
  
#LoadingMask
{
	background-color: #000;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	opacity: 0.05;
	display: none;
}

#LoadingBody
{
	display: none;
	width: 400px;
	border-width: 1px;
	border-style: solid;
	border-radius: 4px;
	background-color: inherit;	
	position: absolute;
	left: 50%;
	top: 200px;
	margin-left: -200px;
}

#LoadingContent
{
  display: flex;
  align-items: center;
	padding: 4mm 10mm;	
}

#LoadingCircle {
  width: 20px; 
  height: 20px; 
  border: 3px solid #aeaeae; 
  border-top: 3px solid #693A71;
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin-right: 10px;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#LoadingText
{
  display: none;
}

#InstallingText
{
  display: none;
}