html
{
	background-color: #fff;
}

body
{
	text-align:center;
	/*padding-top: 10%;*/
}

#SlicerIcon
{
	padding-top: 10%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	max-width: 154px;
}

#Title
{
	height:20mm;
	line-height: 20mm;
	font-size: 6mm;
	color: #693A71;
}

#STip
{
	padding:0mm 20mm;
	height: 15%;
}

#BtnArea
{
	display: flex;
	justify-content: center;
	align-items: flex-end;
	height: 32%;
}

#StartBtn
{
	display: inline-block;
    text-decoration:none;	
}