
#Content
{
	overflow-y:auto;
	max-height: 417px;
}

.BlockBanner
{
	padding: 0px;
	border-bottom:#693A71 1px solid;
	width: 100%;
}

.BannerBtns
{
	float: right;
	height: 40px;
	text-align: center;
	margin-right: 10px;
	padding-top: 1%;
}

.BannerBtns .SmallBtn,.SmallBtn_Green
{
	margin-left:6px;
}

.BlockBanner  a
{
	display: inline-block;
	background-color:#693A71;
	line-height: 40px;
	height: 40px;
	padding: 0px 24px;
	color: #fff;
	border-top-right-radius: 6px;
}

.BlockBanner  .VendorIcon
{
	float: left;
	line-height: 40px;
	height: 40px;
	width: 40px;
	background-color:#693A71;
	padding-left: 6px;
	border-top-left-radius: 6px;
}

.VendorIcon img
{
	border:#693A71 2.5px solid;
	height: 35px;
	width: 35px;
	background-color: rgba(255, 255, 255, 0.8);
	line-height: 40px;
}

.PrinterArea
{
	padding: 0px;
	display: flex;
	flex-wrap: wrap;
	width: 100%;
}

.PrinterBlock
{
	width: 192px;
	text-align: center;
	padding: 8px;
}

.PrinterBlock img
{
	width:160px;
	height: 160px;
}

.PName
{
	font-weight: 700;
	text-align: center;
}

.pNozzel
{
	display: flex;
	align-items: center;
	justify-content:flex-start;
	color: #5A5A5A;	
	padding-left: 18px;
}

.pNozzel input
{
	vertical-align: middle;
	margin-right: 5px;
	accent-color: #693A71;
}


/*-----Notice-----*/
#NoticeMask
{
	background-color: #000;
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	opacity: 0.05;
	display: none;
}

#NoticeBody
{
	display: none;
	width: 400px;
	border-width: 1px;
	border-style: solid;
	border-radius: 4px;
	background-color: inherit;	
	position: absolute;
	left: 50%;
	top: 200px;
	margin-left: -200px;
}

#NoticeBar
{
	background-color:#9966A6;
	height: 40px;
	line-height: 40px;
	color: #fff;
	text-align: center;
}

#NoticeContent
{
	padding: 4mm 10mm;	
}


#NoticeBtns
{
	margin-top: 4mm;
	display: flex;
	justify-content:space-around;
}

#SearchArea
{
	position: absolute;
	top: -30px;
	right: -5mm;
}
